.btn-login {
    width: 30%;
    align-self: center;
    background-color: #355550;
    color: white;
}

.btn-login:hover {
    background-color: #213633;
    color: white;
}

.btn-login:focus {
    box-shadow: 0 0 0 0.25rem #35555080;
}

.arrow {
    color: white;
}